.DS_Store
.vscode/settings.json
main.run.xml
main.aux
main.bbl
main.bcf
main.blg
main.log
main.synctex.gz
main.toc
include/bibliography.aux
include/bibliography.tex.aux
include/toc.aux
include/toc.tex.aux
sections/conclusion/conclusion.aux
sections/conclusion/conclusion.tex.aux
sections/experimental/experimental.aux
sections/experimental/experimental.tex.aux
sections/introduction/introduction.aux
sections/introduction/introduction.tex.aux
sections/literature/literature.aux
sections/results/results.aux
sections/literature/literature.tex.aux
sections/results/results.tex.aux
main.out
include/acronyms.aux
include/loa.aux
